@model System.Collections.Generic.List<Entities.Concrete.Category>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kategoriler</h2>


<a href="Categories/Add" class="btn btn-success">EKLE</a>
<table class="table">
    <thead>
        <tr class="row justify-content-between">
            <th class="col" scope="col">Id</th>
            <th class="col" scope="col">Kategori Adı</th>
            <th class="col" scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < @Model.Count; i++)
    {
        <tr class="row justify-content-between">
            <td> @Model[i].Id</td>
           
            <td> @Model[i].Name</td>
            <td>
                <a class="btn btn-secondary" href="@Url.Action("Add", "Categories", new {categoryId = Model[i].Id})">Düzenle</a>
                <a class="btn btn-danger" href="@Url.Action("Delete", "Categories", new {categoryId = Model[i].Id})">Sil</a>
            </td>
        </tr>
    }
    
    </tbody>
</table>